<style>
	.foot_top{width:100%;height:60px;}
	.foot_div{width:100%;height:auto;position:fixed;bottom:0;background-color:white;}
	.foot_div #oneline{width:25%;height:auto;color:gray;text-align:center;float:left;display:inline;margin-top:7px;}
</style>
<div class="foot_top"></div>
<a href="{:U('Index/index')}">
<div class="foot_div">
	<div id="oneline">
		<span class="glyphicon glyphicon-folder-open"></span>
		<br>
		支付
	</div>
</a>
<a href="{:U('Index/get')}">
	<div id="oneline">
		<span class="glyphicon glyphicon-usd"></span>
		<br>
		抽红包
	</div>
</a>
<a href="{:U('Index/getMoney')}">
	<div id="oneline">
		<span class="glyphicon glyphicon-user"></span>
		<br>
		赚钱
	</div>
</a>
<a href="{:U('Index/getMoneySpeak')}">
	<div id="oneline">
		<span class="glyphicon glyphicon-search"></span>
		<br>
		玩法
	</div>
	<div style="clear:both;"></div>
</div>